<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/cv">Projects</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:rastko.prodanovic@gmail.com" >email</a></li>
					<li><a href="https://github.com/rastko88" target="_blank">github.com/rastko88</a></li>
					<li><a href="https://rs.linkedin.com/in/rastko-prodanovic-b24746123" target="_blank">Linkedin Profile</a></li>
				</ul>
			</footer>
		</body>
	</html>
